@import '../../variables.scss';

.header {
    display: block;
    margin: 40px auto;
    max-width: 800px;
    min-height: 30px;

    .header-wrapper {
            display: flex;
            justify-content: center;
        .github-logo {
            width: 32px;
            height: 32px;
            filter: invert(100%);
            margin-right: 8px;
            vertical-align: middle;
            fill: #9e9e9e;

            &:hover {
                fill: rgb(58, 58, 58);
            }
        }

    }
    &-title{
        h1 {
            font-size: 20px;
        }
    }

}
